*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-div{
    height: 80px;
    background-color: rgb(0,70,190);
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
}
.top-div a{
    margin-top: 28px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.top-div div{
    width: 85px;
    margin-top: 17px;
}
.top-div div img{
    width: 100%;
}
.main{
    background-color: rgb(240,242,244);
    margin-top: 7px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.form-div{
    width: 400px;
    padding: 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto; 
    padding-top: 20px; 
} 
h1{
    text-align: center;
    margin-bottom: 40px;
}
.business{
    margin-top: 15px;
    margin-bottom: 30px;  
}
.business a{
    color: blue;
}
.business a:hover{
    color: rgb(3, 3, 119);
}
.input{
    width: 390px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(3, 3, 154);
    
}
.pass{
    position: relative;
}
.fa-eye-slash{
    position: absolute;
    right: 38%;
    top: 43%;
    color: rgb(94, 94, 94);
    padding-top: 4px;
    cursor: pointer;
}
.check{
     width: 25px;
     height: 25px;
     margin-top: 10px; 
      
}
.check+span{
    font-size: 20px;
    margin-left: 10px;
     
}
.fa-info-circle{
    color: rgb(5, 5, 196);
    cursor: pointer;
    margin-left: 5px;
    
}
.info{
    position: absolute;
    top: 84%;
    right: 38%;
    margin-top: -18px;
}
.popup1,.popup2{
    width: 200px;
     line-height: 20px;
    background-color: white;
    border: 2px solid rgb(189, 184, 184);
    border-radius: 20px;
    border-top-left-radius: 0px;
    padding-top: 5px;
    padding-left: 20px;
    position: absolute;
    left: 62%;
    top: 82%;
    visibility: hidden;
} 
.popup2{
    top: 93%;
    left: 56%;
}
.mbl-alert{
    width: 150px;
    padding: 20px;
    padding-left: 0px;
}
.cross1,.cross2{
    font-size: 38px;
    background-color: rgb(224, 138, 27);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: px;
    border-radius: 50%;
    cursor: pointer; 
    position: absolute;
    top: 7%; 
    left: 80%;
}
#submit{
    background-color: rgb(0,70,190);
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
#submit:hover{
    cursor: pointer;
    background-color:rgb(2, 45, 120) ;
}
.line{
    height: 1px;
    width: 100%;
    position: relative;
    background-color: rgb(157, 155, 155);
    margin-top: 30px;
}
.line::before{
    content: "or";
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 50%;
    padding:0px 30px;
    background-color: white;
    transform: translate(-50%,-50%);  
}
.terms{
    margin-top: 30px;
    font-size: 15px;
    line-height: 22px;
}
.terms a,.sign-in a{
    text-decoration: none;
    color: rgb(4, 4, 184);
}
.terms a:hover{
    text-decoration: underline;
    color: rgb(3, 3, 118);
}
.sign-in{
    margin:20px 0px;
    display: flex;
    width: 320px;
    justify-content: space-between;
}
.sign-in a{
  font-size: 17px;
}
.sign-in a:hover{
    text-decoration: underline;
}
.footer{
    height: 135px;
    background-color: rgb(255, 255, 255);
    padding: 20px 120px;
}
.footer a{
    text-decoration: none;
    color: rgb(6, 6, 253);
    font-size: 14px;
}
.footer a:hover{
    color: rgb(2, 2, 136);
}
.footer span{
    color: rgb(215, 213, 213);
    margin-right: 8px;
    margin-left: 8px;
}
.footer p{
    margin-top: 20px;
    font-size: 14px;
}